Requirements: (Version Early2025 - Stefan Schmidt)

pip install „package“ 

Python: 3.8

sys: is installed as part of the standard library
os: is installed as part of the standard library
datetime: is installed as part of the standard library
pickle: is installed as part of the standard library
time: is installed as part of the standard library
math: is installed as part of the standard library
tempfile: is installed as part of the standard library

pyqt5==5.15.1
pyqtgraph==0.11.0		(latest 0.13.1)
numpy==1.23.4		(latest 2.2.4)
matplotlib==3.3.1		(latest 3.10.0)
scikit-learn==1.0.2		(latest 1.6.1)
scikit-image==0.18.3	(latest 0.25.0) 	
pillow==7.2.0 		(latest 11.1.0)
functools==0.5		
pandas==2.0.3		(latest 2.2.3)			
scipy==1.10.1		(latest 1.15.2)
regex==2020.9.27		(latest 2024.11.6)
tifffile=2020.10.1		(latest 2023.4.12)
yellowbrick==1.4		(latest re1.5)
zarr 2.15.0 			(latest 3.0.5)

Used to generate *.exe:
pyinstaller==6.3.0 (pyinstaller --windowed --onefile --add-data=„NAME.EXTENSION;.“ NAME.py)

simpleITK: https://github.com/SimpleITK/SimpleITK/releases
Windows: e.g. SimpleITK-2.0.0rc2.dev910+ga138e-cp38-cp38-win_amd64.whl

Notes: 
•	There is a conflict with the latest versions of numpy and pyqt5. 
•	In the latest version of scikit-learn the GMM function was adopted causing a conflict in the current implementation.
•	When working under Python 3.9 and the latest versions requires minor adoptions of the code.
